.main
  .main__header
    .main__header__title
      yoncoman
    .main__header__ni
      %h3.main__header__ni__name
        yk
      %ul.main__header__ni__icon
        %li.main__header__ni__icon__post
          = link_to new_tweet_path do
            = icon("fas fa-camera-retro",  class: "main__header__ni__icon__post__btn")
            投稿する
        %li.main__header__ni__icon__lo
          = link_to root_path do
            = icon("fas fa-sign-out-alt",  class: "main__header__ni__icon__lo__btn")
            ログアウト

  .main__main
    .main__main__box
      .main__main__box__left
        .main__main__box__left__profile
          .main__main__box__left__profile__name
            name:yk
          .main__main__box__left__profile__text
            旅行に行きましたーちなみにここはいずなんで
        .main__main__box__left__message
          .main__main__box__left__message__box
            .main__main__box__left__message__box__name
              コメントさん
            .main__main__box__left__message__box__text
              いいねーほんとにいいねーうらやましー
          .main__main__box__left__message__box
            .main__main__box__left__message__box__name
              コメントさん
            .main__main__box__left__message__box__text
              いいねーほんとにいいねーうらやましー
          .main__main__box__left__message__box
            .main__main__box__left__message__box__name
              コメントさん
            .main__main__box__left__message__box__text
              いいねーほんとにいいねーうらやましー
          .main__main__box__left__message__box
            .main__main__box__left__message__box__name
              コメントさん
            .main__main__box__left__message__box__text
              いいねーほんとにいいねーうらやましー
          .main__main__box__left__message__box
            .main__main__box__left__message__box__name
              コメントさん
            .main__main__box__left__message__box__text
              いいねーほんとにいいねーうらやましー
        .main__main__box__left__form
          -# = f.text_field :content, class: 'main_chat__message-form__mpform__mp__m', placeholder: 'type a message7'
          -# = f.submit 'Send', class: "main__main__box__left__form__btn"
      .main__main__box__right
        .main__main__box__right__image1
         
        -# = f.file_field :image, class: "main__main__box__right__image1"
        .main__main__box__right__image2
          
        -# = f.file_field :image, class: "main__main__box__right__image2"
        .main__main__box__right__image3
          
        -# = f.file_field :image, class: "main__main__box__right__image3"
        .main__main__box__right__image4
        
        -# = f.file_field :image, class: "main__main__box__right__image4"

    .main__main__box
      .main__main__box__left
        .main__main__box__left__profile
          .main__main__box__left__profile__name
            name:yk
          .main__main__box__left__profile__text
            旅行に行きましたーちなみにここはいずなんで
        .main__main__box__left__message
          .main__main__box__left__message__box
            .main__main__box__left__message__box__name
              コメントさん
            .main__main__box__left__message__box__text
              いいねーほんとにいいねーうらやましー
        .main__main__box__left__form
          -# = f.text_field :content, class: 'main_chat__message-form__mpform__mp__m', placeholder: 'type a message7'
          -# = f.submit 'Send', class: "main__main__box__left__form__btn"
      .main__main__box__right
        -# = f.file_field :image, class: "main__main__box__right__image1"
        -# = f.file_field :image, class: "main__main__box__right__image2"
        -# = f.file_field :image, class: "main__main__box__right__image3"
        -# = f.file_field :image, class: "main__main__box__right__image4"

    .main__main__box
      .main__main__box__left
        .main__main__box__left__profile
          .main__main__box__left__profile__name
            name:yk
          .main__main__box__left__profile__text
            旅行に行きましたーちなみにここはいずなんで
        .main__main__box__left__message
          .main__main__box__left__message__box
            .main__main__box__left__message__box__name
              コメントさん
            .main__main__box__left__message__box__text
              いいねーほんとにいいねーうらやましー
        .main__main__box__left__form
          -# = f.text_field :content, class: 'main_chat__message-form__mpform__mp__m', placeholder: 'type a message7'
          -# = f.submit 'Send', class: "main__main__box__left__form__btn"
      .main__main__box__right
        -# = f.file_field :image, class: "main__main__box__right__image1"
        -# = f.file_field :image, class: "main__main__box__right__image2"
        -# = f.file_field :image, class: "main__main__box__right__image3"
        -# = f.file_field :image, class: "main__main__box__right__image4"

    .main__main__box
      .main__main__box__left
        .main__main__box__left__profile
          .main__main__box__left__profile__name
            name:yk
          .main__main__box__left__profile__text
            旅行に行きましたーちなみにここはいずなんで
        .main__main__box__left__message
          .main__main__box__left__message__box
            .main__main__box__left__message__box__name
              コメントさん
            .main__main__box__left__message__box__text
              いいねーほんとにいいねーうらやましー
        .main__main__box__left__form
          -# = f.text_field :content, class: 'main_chat__message-form__mpform__mp__m', placeholder: 'type a message7'
          -# = f.submit 'Send', class: "main__main__box__left__form__btn"
      .main__main__box__right
        -# = f.file_field :image, class: "main__main__box__right__image1"
        -# = f.file_field :image, class: "main__main__box__right__image2"
        -# = f.file_field :image, class: "main__main__box__right__image3"
        -# = f.file_field :image, class: "main__main__box__right__image4"
    .main__main__box
      .main__main__box__left
        .main__main__box__left__profile
          .main__main__box__left__profile__name
            name:yk
          .main__main__box__left__profile__text
            旅行に行きましたーちなみにここはいずなんで
        .main__main__box__left__message
          .main__main__box__left__message__box
            .main__main__box__left__message__box__name
              コメントさん
            .main__main__box__left__message__box__text
              いいねーほんとにいいねーうらやましー
        .main__main__box__left__form
          -# = f.text_field :content, class: 'main_chat__message-form__mpform__mp__m', placeholder: 'type a message7'
          -# = f.submit 'Send', class: "main__main__box__left__form__btn"
      .main__main__box__right
        -# = f.file_field :image, class: "main__main__box__right__image1"
        -# = f.file_field :image, class: "main__main__box__right__image2"
        -# = f.file_field :image, class: "main__main__box__right__image3"
        -# = f.file_field :image, class: "main__main__box__right__image4"


