.top
  .top__title
    yoncoman
  
  .top__button
    .top__button__contents
      案内
    = link_to "#", class: "top__button__btn" do
      = icon('fab fa-grav', class: "top__button__btn__icon")
      新規登録
    = link_to "#", class: "top__button__btn" do
      = icon('fab fa-grav', class: "top__button__btn__icon")
      ログイン