* {
  margin: 0px;
  page-break-after: 0px;
}

.top {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/backgroundimage.png");
  background-size: 100%;
  position: fixed;

  &__title {
    padding-top: 8%;
    text-align: center;
    font-size: 50px;
    line-height: 90px;
    color: whitesmoke;
    font-family: 'Comic Sans MS';
  }

  &__button {
    width: 200px;
    height: 200px;
    margin: 0 100px 0 1010px;
    &__contents {
      font-size: 30px;
    }
    &__btn {
      font-size: 20px;
      display: block;
      text-decoration: none;
      margin-top: 30px;
      color: black;
      &__icon {
      font-size: 20px;
      }
    }

  }


}